[Desktop Entry]
Version=1.0
Type=Application
Name=launcher
Comment=Hacker ToolKit
Exec=python3 hacker_toolkit.py
Icon=python
Path=
Terminal=true
StartupNotify=false
